.container {
    max-width: 400px;
    margin-bottom: 20px; 
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.fleft{
float: left;
}

.fright{
float: right;
}
h1 {
    margin-top: 0;
}

button {
    margin-top: 10px;
}

#generated-password {
    font-weight: bold;
    margin-top: 20px;
  	align: left;
}
